# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives:**
- List popular languages for Data Science.
- Identify the criteria and roles for determining the language to learn.
- Identify the uses and benefits of Python.
- Describe data sets and sources of data.
- Explore Machine Learning models in the Model Learning eXchange.
- Describe how to use the notebooks in JupyterLab.

# Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. Scala
4. R
5. SQL

| Data Science Tools |
| ----------------- |
| MySQL |
| MongoDB |
| Hadoop File System (HDFS) |

### Below are a few examples of evaluating arithmetic expressions in Python
#### +
#### -
#### *
#### /
#### %

In [5]:
# This a simple arithmetic expression to mutiply then add integers
x = 3
y = 4
k = 5
z = x*y
a = z + k
print(a)

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
k = 60
minute = 200
hour = minute/k
print(hour)

3.3333333333333335

## Author 
{Firaol}